

p {
    color: rgb(173, 52, 102);
}

h1 {
    color: rgb(61, 23, 126);
}

body {
    background-color: beige;
}

.land_scape_bg {
    align-items: center;
    background-color: aqua;
    display: flex;
    justify-content: center;

}

.portrait_bg {
    align-items: center;
    background-color: rgb(48, 48, 219);
    display: flex;
    justify-self: center;
    height: 220px;

}

   .circle {
      width: 100px;
      height: 100px;
      background-color: rgb(225, 255, 0);
      border-radius: 50%;
      justify-self: center;
}

nav {
background: #333;
padding: 10px;
}

nav ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;
gap: 20px;
}

nav a {
color: white;
text-decoration: none;
padding: 8px 12px;
}

nav a:hover {
background: #555;
}



div {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  text-align: center;
}